@page "/details/{stationId}"
@attribute [StreamRendering]
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Newtonsoft.Json
<PageTitle>Details</PageTitle>

<h1>Details</h1>

@if (stations == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Number</th>
                <th>Contract Name</th>
                <th>Name</th>
                <th>Address</th>
                <th>Banking</th>
                <th>Bonus</th>
                <th>Bike Stands</th>
                <th>Bike availaible</th>
                <th>Status</th>
                <th>Last update</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                <td> @stations.number</td>
                <td>@stations.contract_name</td>
                <td>@stations.name</td>
                <td>@stations.address</td>
                <td>@(stations.banking ? "✔" : "❌")</td>
                <td>@(stations.bonus ? "✔" : "❌")</td>
                <td>@stations.available_bike_stands</td>
                <td>@stations.available_bikes</td>
                <td>@(stations.status)</td>
                <td>@stations.last_update</td>
                 </tr>
        </tbody>
    </table>
}



@code {
    [Parameter]
    public string? stationId { get; set; }
    public test.models.Stations stations;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        stations = GetStationDetails(stationId);
    }

    private test.models.Stations GetStationDetails(string stationId)
    {
        if (int.TryParse(stationId, out int id))
        {
            return test.models.AllStations.getStations().FirstOrDefault(s => s.number == id);
        }
        else
        {
            return null;
        }
    }
}
